// edit()

.head
  background white
  height 170px
  header
    center(1200px)
    .logo
      col(1/6)

input
  display none

.open
  background-color $id
  width 24px
  height 4px
  display block
  border-radius 2px
  cursor pointer
  position relative

  &:before
    content ""
    background-color $id
    width 24px
    height 4px
    display block
    border-radius 2px
    position relative
    top -8px
    transform rotate(0deg)
    transition all 0.3s ease
  &:after
    content ""
    background-color $id
    width 24px
    height 4px
    display block
    border-radius 2px
    position relative
    top 4px
    transform rotate(0deg)
    transition all 0.3s ease

.menuOpen
  float right
  display block
  width 24px
  height 20px
  padding 15px
  margin 50px 20px 0 0
  cursor pointer
  &:hover
    .open
      &:before
        top -9px
      &:after
        top 5px

.menu
  position fixed
  width 100vw
  height 100vh
  top 0
  left 0
  background rgba(49, 0, 86,0.95)
  z-index 998
  label
    width 30px
    height 30px
    position absolute
    right 20px
    top 20px
    background-size 100%
    cursor pointer
  .menuContent
    position relative
    top 50%
    font-size 54px
    text-align center
    padding-bottom 20px
    margin-top -170px
  ul
    list-style none
    padding 0
    margin 0 auto
    li
      a
        display block
        color white
        text-decoration none
        transition color 0.2s
        padding 10px 0
      &:hover
        background $id

.menuEffects
  opacity 0
  visibility hidden
  transition opacity 0.5s, visibility 0.5s
  ul
    transform translateY(0%)
    transition all 0.5s

#menuToggle
  &:checked
    & ~ .menuEffects
      opacity 1
      visibility visible
      transition opacity 0.5s
      ul
        opacity 1
    & ~ .menuOpen
      .open
        background-color transparent
        &:before
          content ""
          background-color white
          transform rotate(45deg)
          position absolute
          top 0
          right 0
          z-index 999
        &:after
          content ""
          background-color white
          transform rotate(-45deg)
          position relative
          top 0
          right 0
          z-index 999
  &:not(:checked)
    & ~ .menuEffects
      ul
        transform translateY(-30%)
